<div id="logo"  class="span-4">
  <%= image_tag('logo.jpg', :alt => 'logo') %>
</div>

<div id="search"  class="span-16 last">
  <h1 id="title" class="alt" >BookMark</h1>
  <form method="get" action="http://www.google.com/search" target="_blank">
    <input type="text" name="q" size="50" maxlength="255" value="" />
    <input type="submit" value="Google Search" />
  </form>
</div>

<hr />

<div id="left_content" class="span-9 colborder">
  <% @left.each do |category| %>
    <h2  class="alt">
      <%= category.name %>
    </h2>
    <ul>
      <% category.links.sort_by{|c| c.position}.each do |link| %>
        <li><a href="<%= link.url %>" ><%= link.title %></a></li>
      <% end %>
    </ul>
  <% end %>
    </div>

    <div id="right_content" class="span-9 last">
      <% @right.each do |category| %>
        <h2  class="alt">
          <%= category.name %>
        </h2>
        <ul>
          <% category.links.sort_by{|c| c.position}.each do |link| %>
            <li><a href="<%= link.url %>" ><%= link.title %></a></li>
          <% end %>
        </ul>
      <% end %>
<script language="JavaScript">
//Copyright 2010, GuideStar, Inc.
//GuideStar Seal Widget, Version 0.4, Private Beta, No Warranties
//Terms of Service: http://tools.guidestar.org/terms-of-service/
//To update Report: http://www2.guidestar.org/rxg/update-nonprofit-report/how-to-update-your-nonprofit-report.aspx
//Support: http://tools.guidestar.org/contact/
//Microformats: None
var ein = "99-9999999";
var sealserverurl = "http://tools.guidestar.org/wp-includes/gs/guidestarseal.php?ein=";
var sealserverobject = new XMLHttpRequest();
url = sealserverurl + ein;
sealserverobject.open("GET",url,false);
sealserverobject.send(null);
document.write( sealserverobject.responseText );
</script>
      
  </div>
