<div id="logo"  class="span-4">
  <%= image_tag('logo.jpg', :alt => 'logo') %>
</div>

<div id="search"  class="span-16 last">
  <h1 id="title" class="alt" >BookMark</h1>
  <form method="get" action="http://www.google.com/search" target="_blank">
    <input type="text" name="q" size="50" maxlength="255" value="" />
    <input type="submit" value="Google Search" />
  </form>
</div>

<hr />

<div id="left_content" class="span-9 colborder">
  <% @left.each do |category| %>
    <h2  class="alt">
      <%= category.name %>
    </h2>
    <ul>
      <% category.links.sort_by{|c| c.position}.each do |link| %>
        <li><a href="<%= link.url %>" ><%= link.title %></a></li>
      <% end %>
    </ul>
  <% end %>
    </div>

    <div id="right_content" class="span-9 last">
      <% @right.each do |category| %>
        <h2  class="alt">
          <%= category.name %>
        </h2>
        <ul>
          <% category.links.sort_by{|c| c.position}.each do |link| %>
            <li><a href="<%= link.url %>" ><%= link.title %></a></li>
          <% end %>
        </ul>
      <% end %>

  </div>
