<h1>Listing links</h1>

<% @categories.each do |category| %>
  <% if category.links.length > 0 %>
    <h2><%= category.name %></h2>
    <table>
      <tr>
        <th>Title</th>
        <th>Url</th>
        <th>Position</th>
        <th>Category</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% category.links.sort_by{|l| l.position}.each do |link| %>
        <tr>
          <td><%= link.title %></td>
          <td><%= link.url %></td>
          <td><%= link.position %></td>
          <td><%= link.category_id %></td>
          <td><a href="link_up/<%= category.id %>/<%= link.id %>">up</a></td>
          <td><%= link_to 'Show', link %></td>
          <td><%= link_to 'Edit', edit_link_path(link) %></td>
          <td><%= link_to 'Destroy', link, :confirm => 'Are you sure?', :method => :delete %></td>
        </tr>
      <% end %>
    </table>
    <hr/>
  <% end %>
<% end %>

<br />

<%= link_to 'New Link', new_link_path %>
